html {
    width: 100%;
    height: auto;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: #fffaf5;
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
}

p {
    font-weight: 200;
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 3rem;
}

h2 {
    margin: 0.5rem;
}

li {
    margin-bottom: 5px;
}

.nav {
    position: sticky;
    top: 0;
    padding: 1.5rem 0rem;
    width: 100%;
    backdrop-filter: blur(6px);
    background-color: #0000000a;
}

.links {
    margin: 0 5rem;
    display: flex;
    justify-content: space-between;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.documentation {
    margin: 1rem 6rem;
    h2 {
        font-size: 2rem;
    }
    h3 {
        margin: 8px;
    }
    h4 {
        margin: 8px;
    }
    p {
        margin: 8px;
    }
}

.title {
    text-align: center;
}